body {
    font-family: 'Arial', sans-serif;
    background-color: black;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #222;
    padding: 20px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container img{
    width: 250px;
}

#SearchInput {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 10px;
}

select{
    padding: 5px;
    text-align: center;
    font-weight: bold;
}

.results-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 50px;
}

.card {
    background-color: #111 ;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease;
    color: white;
    font-weight: bold;
}

.card:hover {
    transform: scale(1.05);
}
